---
title: "Levelling the playing field for food business verification"
date: 2026-05-13
url: https://www.beehive.govt.nz/release/levelling-playing-field-food-business-verification
ministers:
  - Hon Andrew Hoggard
portfolios:
  - Food Safety
---

The Government is making it easier for food businesses with multiple sites to operate by applying consistent verification rules across the country, says Food Safety Minister Andrew Hoggard.

“Up to now, approaches to multi-site verification have differed widely from council to council and verifier to verifier, resulting in unpredictable costs for businesses.  
“Verifiers check that businesses are following good food safety practices. The [new guidance](https://www.mpi.govt.nz/dmsdocument/71906) released today levels the playing field by setting out clear site-sampling guidelines for verifiers.

“This will save money for those businesses that have been getting all of their sites verified, while giving all multi-site businesses national consistency and certainty.”

The changes account for varying degrees of food safety risk depending on the business. All sites under a multi-site registration will need an initial verification, but subsequently only a sample of sites needs to be selected.

This process is designed to ensure that all sites are verified over time. For multi-site businesses operating under [National Programmes](https://www.mpi.govt.nz/food-business/running-a-food-business/national-programmes) this will mean at minimum a third of sites being verified every round, with all sites verified over three rounds. For [Food Control Plan](https://www.mpi.govt.nz/food-business/running-a-food-business/food-control-plans/introduction-food-control-plans) businesses, at least half of their sites will need to be verified every round, with all sites verified every two rounds.

Verification frequency remains performance based, with those businesses that show they can meet their food safety and suitability requirements consistently being verified less frequently. “This common-sense approach ensures that any risks are proportionately and consistently managed. It is part of a wider work programme to make the food safety system fairer, more efficient, and more responsive to the needs of the food sector,” Minister Hoggard says.

In the past eight months alone, the Government has:    
•    saved thousands of small food businesses money by providing free food safety training for their staff to keep consumers safe  
•    changed the rules for small-scale meat processors so they cut costs thanks to reduced sampling and testing requirements, while maintaining current high food safety standards  
•    reduced costs for home-based cake makers by removing ongoing verification and revising registration requirements  
•    introduced new rules so food exporters whose products meet the requirements of the importing country no longer needed to apply for special exemptions from New Zealand rules.  
“We’ve made good progress already and are working hard on cutting even more red tape for food businesses,” says Minister Hoggard.

“Other improvements in the pipeline include reducing regulatory costs for more low-risk businesses, updating food control plan templates so they’re easier to use, simplifying record-keeping requirements, making it easier for businesses to export food products, and establishing a level playing field through managing unregistered businesses.”